body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.button-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 20px;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.button1 {
  background-color: #b00eb0;
}
.button2 {
  background-color: #8bc820;
}

.button:hover {
  background-color: #0056b3;
}
