<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/css/estilosIndex.css" rel="stylesheet" type="text/css">
    <!--<link href="{{ url_for('static', filename='css/miestilo.css') }}" rel="stylesheet" type="text/css"> -->

    <title>Botones Enlazables</title>
</head>
<body>
<div class="button-container1">
    <a class="button button1" href="calculocompras">Ejercicio 1</a>
    <a class="button button2" href="iniciosesion">Ejercicio 2</a>
</div>
</body>
</html>
